<% provide(:title, '保健饮品') %>
<h1 class="glyphicon glyphicon-heart">保健饮品</h1>
<hr>
<%= will_paginate @posts, :previous_label =>'上一页' , :next_label => '下一页',:style => 'color:black' %>
<ul class="users">
<%= render @teas %>
</ul>
<%= will_paginate @posts, :previous_label =>'上一页' , :next_label => '下一页',:style => 'color:red' %>