<div id="Carousel" class="container">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


    <div class="carousel-inner">
        <div class="item active">
           <%= image_tag("banner_tea.png", alt: "1") %>
        </div>
        <div class="item">
            <%= image_tag("banner_juice.png", alt: "2") %>
        </div>
        <div class="item" >
            <%= image_tag("banner_health.png", alt: "3") %>
        </div>
        <div class="item" >
            <%= image_tag("banner_diy.png", alt: "4") %>
        </div>

    </div>



  <ol class="carousel-indicators " id="c">
    <li id="bbb" data-target="#carousel-example-generic" data-slide-to="0" class="active "></li>
    <li id="bbb"  data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li id="bbb" data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li id="bbb" class="blackdot" data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>


</div>
</div>
