<div id="horizon1">
<div class="container" id="horizonl2">

<div class="row">

<div class="col-md-2 col-md-offset-1">
<%= link_to  "茶", allteas_path, class: "btn btn-default glyphicon glyphicon-leaf",id:"b"  %>

</div>
<div class="col-md-3 col-md-offset-1">
<%= link_to "果汁", alljuices_path, class: "btn btn-default glyphicon glyphicon-glass",id:"b" %>
</div>
<div class="col-md-3 ">
<%= link_to "保健饮品", allhealths_path, class: "btn btn-default glyphicon glyphicon-heart",id:"b" %>
</div>
<div class="col-md-2 ">
<%= link_to "自己调制", introdiy_path, class: "btn btn-default glyphicon glyphicon-tint",id:"b" %>
</div>

</div>

</div>

</div>
