<div class="container">
    <div class="row">
<div id="tea" class="carousel slide" data-ride="carousel">

<div class="col-md-6">

  <ol class="carousel-indicators" id="c">
    <li data-target="#tea" data-slide-to="0" class="active"></li>
    <li data-target="#tea" data-slide-to="1"></li>
    <li data-target="#tea" data-slide-to="2"></li>
    <li data-target="#tea" data-slide-to="3"></li>
  </ol>

    <div class="carousel-inner">
        <div class="item active">
           <%= image_tag("banner_tea.png", alt: "1") %>
        </div>
        <div class="item">
            <%= image_tag("banner_juice.png", alt: "2") %>
        </div>
        <div class="item" >
            <%= image_tag("banner_health.png", alt: "3") %>
        </div>
        <div class="item" >
            <%= image_tag("banner_diy.png", alt: "4") %>
        </div>

    </div>

</div>

</div>
</div>
</div>
<hr>