<div class="container">
	<div class="row">

<div class="col-md-6">
	<%= image_tag "shop.png",id:"p2" %>
</div>

<div class="col-md-6">
	<%= image_tag "diy.png" ,id:"p2"%>
</div>
<hr>

<div class="col-md-12">
	<%= image_tag "truck.png" ,id:"p3"%>
</div>


	</div>
</div>