<% provide(:title, '调制饮品') %>
<h1 class="glyphicon glyphicon-tint">调制饮品</h1>
<div class="container">
	<div class="row">

<div class="col-md-6">
	<%= image_tag "shop.png" %>
</div>

<div class="col-md-6">
	<%= image_tag "diy.png" %>
</div>
<hr>



</div>
</div>


<div class="container">
<div id="register">
<%= link_to "开始调制!", adddiy_path, class: "btn ",  id:"regbutton" %>
</div>
</div>