<% provide(:title, @diy.name) %>

<div class="container">
 <div class="row">

<div class="col-md-6">
  <%= image_tag "bottle_logo.png" ,alt:"logo",id:"bottle" %>
</div>

<div class="col-md-6">
	<h2><%= @diy.name %></h2>
	<p><%= @diy.describe %></p>
</div>

 </div>


</div>